.env
__pycache__
venv
.env
**.env
*.env
# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/
**__pycache__

# Logs
logs/
*.log

# Local development
*.sqlite3
*.dump
*.pdf
*.jpg
*.jpeg
*.png
*.odt

# Scripts
backup_and_commit.sh
script.html