Django
celery
dotenv
django-cors-headers
django-countries
graphene-django
django-graphql-auth
django-graphql-jwt
PyJWT
djangorestframework
django-allauth
psycopg2-binary
PyGithub
gunicorn
beautifulsoup4
cryptography
django-celery-beat
django-celery-results
redis
python-dotenv
google-auth 
google-auth-oauthlib
requests
markdown
bleach
reportlab
